@import "tailwindcss";

body {
    height: 100vh;
  background-image: linear-gradient(
    210deg,
    hsl(240deg 100% 20%) 0%,
    hsl(325deg 100% 34%) 10%,
    hsl(6deg 98% 61%) 20%,
    hsl(46deg 100% 50%) 30%,
    hsl(47deg 100% 64%) 40%,
    hsl(31deg 100% 76%) 50%,
    hsl(11deg 100% 84%) 60%,
    hsl(7deg 80% 84%) 70%,
    hsl(30deg 100% 75%) 80%,
    hsl(53deg 77% 58%) 90%,
    hsl(97deg 84% 57%) 100%
  );
  background-repeat: no-repeat;
}
